body{
    background-color: rgb(245, 233, 199);
    max-width: 100vw;
    min-width: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.mainDiv{
    display:flex;
    
} 

.mainContainer{
    display:flex;
    justify-content: center;
    
}

